<html>
<head>
  <title>Label Checker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <p>This is a first template. {{var1}}</p>

  <table>
  <tr>
    <th>Namespace</th>
    <th>Deployment Name</th>
    <th>Labels</th>
    <th>Status</th>
  </tr>
  {% for app in namespacelist %}
  <tr>
    <td>{{app.namespace}}</td>
    <td>{{app.name}}</td>
    <td>{{app.labels}}</td>
    <td>&#x2705; &#x274E;</td>
  </tr>
  {% endfor %}
  </table>

</body>
</html>
