<html>
<head>
  <title>Label Checker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#Button1">Button1</a></li>
    <li><a href="#Button2">Button2</a></li>
    <li><a href="#about">About</a></li>
  </ul>

  <div>
  <h1> Correct deployments </h1>

  <table>
  <tr>
    <th>Namespace</th>
    <th>Deployment Name</th>
    <th>Labels</th>
    <th>Status</th>
  </tr>
  {% for app in correct_deployments %}
  <tr>
    <td>{{app.namespace}}</td>
    <td>{{app.name}}</td>
    <td>{{app.labels}}</td>
    <td>&#x2705; &#x274E;</td>
  </tr>
  {% endfor %}
  </table>

  <h1> Incorrect deployments </h1>

  <table>
  <tr>
    <th>Namespace</th>
    <th>Deployment Name</th>
    <th>Labels</th>
    <th>Status</th>
  </tr>
  {% for app in incorrect_deployments %}
  <tr>
    <td>{{app.namespace}}</td>
    <td>{{app.name}}</td>
    <td>{{app.labels}}</td>
    <td>&#x2705; &#x274E;</td>
  </tr>
  {% endfor %}
  </table>
</div>

</body>
</html>
